*{
    box-sizing: border-box;
}

.gray{
    color: #918E9B;
}

#nav-logo{
    height: 90px;
    padding: 7px;
}

body{
    margin: 0 auto;
}

nav{
    box-shadow: 0px 0px 10px;
    display: flex;
}

h1, p, span {
    font-family: 'Pacifico', cursive;
}

#section {
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}

#photoGrid{
    width: 80%;
    margin: 10px auto;
    display: block;
}

#cardStar{
    height: 14px;
}

.Card{
    width: 270px;
    font-size: 18px;
}

.Card > p{
    margin: 0px;
}
.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}