*{
    box-sizing: border-box;
}

#nav-logo{
    height: 90px;
    padding: 7px;
}

body{
    margin: 0px;
}

nav{
    box-shadow: 0px 0px 10px;
    display: flex;
}

h1, p {
    font-family: 'Pacifico', cursive;
}

section {
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.Card{
    width: 200px;
    font-size: 15px;
}

.Card > p{
    margin: 0px;
}